body {
    font-family: cursive;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    font-family: cursive;
    align-items: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;

  }
  
  nav {
    text-align: center;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
  }
  
  main {
    display: flex;
    justify-content: center;
  }
  
  button {

    font-family:cursive;
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding:10px;
    border-radius: 5px;
    border:none;
    background-color: #333;
    
  }

.katt1 img{

border-radius: 10px;
cursor: pointer;


}

.catGrid {

background-color: rgb(220, 187, 215);
display: flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
padding: 10px;
border-radius: 10px;

}

  .container {
    display: flex;
    flex-direction: column;
    width: 900px;
  }
  
  .section {
    padding: 40px;
    background-color: #f1f1f1;
    margin: 10px;
    font-family: cursive;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: cursive;
  }
  
  .section1 {
    display: flex;
    align-items: center;
    font-family: cursive;
    gap: 30px;
  }
  
  .section1 img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .section1 h2 {
    font-size: 2.5rem;
  }
  
  .catGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  
  .catGrid img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 1px;
    cursor: pointer;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    margin: 0;
  }


body {

    background-color: rgb(220, 187, 215);
}

#menuToggle {
   display: block;
   position: relative;
   top: 160px;
   right: 1450px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover {
   color: tomato;
 }
 
 
 #menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   
   cursor: pointer;
   
   opacity: 0; 
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #333;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 
 #menu
 {
   position:absolute;
   width: 100px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   font-family: cursive;
   
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
   
 }
 

 #menuToggle input:checked ~ ul
 {
   transform: none;
 }


 #formular {
  width: 600px;
  border: 5px solid rgba(234,234,234,1.00);
  border-radius: 10px;
  background-color: rgba(225,225,225,1.00);
  padding: 20px;
  font-size: 16px;
  }
  
  #formular input[type=text],
  #formular input[type=email] {
  width: 100%;
  padding: 10px 5px 10px 10px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  }
  
  #formular input[type=submit] {
  width: 100%;
  background-color: rgba(42,90,157,1.00);
  color: rgba(255,255,255,1.00);
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  }
  
  #formular input[type=submit]:hover {
  background-color: rgb(52, 94, 153);
  }
  
  @media only screen and (max-width: 768px){
  #formular {
  width: 90%;
  }
  }